<header>
  <nav>
  <div class="nav">
    <ul>
      <li><a href="#"><img class="logo" src="https://www.logolynx.com/images/logolynx/e4/e49bfac06436b6f3f9de27b39cc6531b.jpeg" alt=""></a></li>
      <li><a href="#">STORE</a></li>
      <li><a href="#">Home</a></li>
      <li><a href="#">Nosotros</a></li>
      <li><a href="#">Contactenos</a></li>
      
    </ul>
  </div>
  </nav>
</header>
<div class="contenedor">
<div class="dv1">
  <img src="https://storage.googleapis.com/sspe-blnc-rscs/00000CB1/es-PE/images/MT09/color-1-07R-min.png" alt="xxxx">
</div>

<div class="fuente">
  <pre>
    ° MT09 NEW STYLE || 2023 °

    - Motor CP3 de 890 cc
    - Bastidor ligero de aluminio fundido completamente nuevo
    - Diseño y estilo de última generación
    - IMU de 6 ejes de alta tecnología, sensibles a la inclinación
    - Pantalla TFT a color de 3,5 pulgadas
    - Faro LED compacto y bifuncional
    - Ruedas ligeras SpinForged
    - Nueva suspensión ajustable
    - Bomba de freno radial delantera
  </pre>
  
<div class="cotizar"><button class="btn"><a href="https://www.incolmotos-yamaha.com.co/simulador/?id_vehiculo=2317">Cotizar</a></button>
</div></div>

</div>
<footer>
  <p style="color: white; text-align: center;">@copyrigt reserved</p>
  <div class="iconos">
    <img src="https://cdn-icons-png.flaticon.com/128/5968/5968841.png" alt="" class="redes">
    <img src="https://cdn-icons-png.flaticon.com/128/5968/5968764.png" alt="" class="redes">
    <img src="https://cdn-icons-png.flaticon.com/128/3955/3955024.png" alt="" class="redes">
    <img src="https://cdn-icons-png.flaticon.com/128/3670/3670151.png" alt="" class="redes">
  </div>
</footer>



